@charset 'UTF-8';

body {
    

    background: black url('imagens/wallpaper002.jpg') center center / cover no-repeat fixed 
}

main {
    width: 450px;
    border: 2px solid blue;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    padding: 10px;
}