@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    background-image: url(imagens/pattern-background-desktop.svg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative 
}

section {
    position: absolute;
    width: 30vw;
    height: 70vh;
    background-color: #ccc;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
}

.cima {
    width: 30vw;
    height: 30vh;
    background-image: url(imagens/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.baixo {
    width: 30vw;
    height: 40vh;
    background-color: #E1E9FF;
    position: relative;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-justify: auto;
    letter-spacing: 0.4px;
    width: 20vw;   
    margin-left: 15%; 
    font-size: 1.0em;

}

#pedido {
    color: #232b6b;
    padding: 30px;
    font-size: 1.4em;
    font-weight: bolder;
}

.plano {
    width: 23vw;
    height: 10vh;
    background-color: white;
    display: block;
    position: absolute;
    left: 10%;
    margin-top: 15px;
    border-radius: 15px;

}

#icon {
    width: 3vw;
    height: 6vh;
    margin-top: 3%;
    margin-left: 3%
}

.anual {
    color: #232b6b;
    padding: 0px;
    margin: 0px;
    font-size: 1.2em;
    font-weight: bolder;
    position: absolute;
    top: 15%;
    left: -10.5%;
}

.valor {
    text-align: justify;
    color: #a3adc7;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 20%;
    top: 60%;
    
}

#alterar {
    position: absolute;
    top: 30%;
    left: 70%;
    font-size: 1.1em;
    color: #232b6b;
}

#link {
    width: 23vw;
    height: 5vh;
    position: absolute;
    top: 70%;
    left: 10%;
    background-color: #232b6b;
}

#link {
    color: white;
    text-align: center;
    text-decoration: none;
}