body {
    font-family: Arial, Helvetica, sans-serif;
}

/* O HOVER SIGNIFICA QUE QUANDO VOCÊ PASSAR O MOUSE POR CIMA DA DIV, ALGO IRÁ ACONTECER, AI VC DEFINE OQ VAI ACONTECER, NO EXEMPLO ABAIXO A COR DO DIV VAI FICAR AZUL. */

div:hover {
    color:blue
}

/* O DIV SEGUIDO DO SINAL DE MAIOR (>) SIGNIFICA QUE OQ TIVER DENTRO DO DIV, NO EXEMPLO ABAIXO ESTA A LISTA (UL), IRÁ ACONTECER OQ VC DEFINIR, NESTE EXEMPLO ABAIXO ELA IA SUMIR */

div > ul {
    display: none
}

/* O DIV SEGUIDO DA PSEUDO CLASSE HOVER, UTILIZANDO O SINAL DE MAIOR (>) SIGNIFICA QUE OQ TIVER DENTRO DA UL CRIADA NO EXEMPLO IRÁ ACONTECER TAL SITUAÇÃO, NO EXEMPLO ABAIXO ELA VAI MUDAR DE COR PARA ROXO E APARECER.*/

div:hover > ul {
    display: block;
    color:blueviolet
    
}