@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.itens {
    color: white;
    text-align: center;
}

.item {
    height: 100px;
    width: 250px;
    text-align: center;
    display: inline;
}

#um {
    background-color: blueviolet;
}

#dois {
    background-color: green;
}

#tres {
    background-color: blue;
}