@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

body {
    margin: 0px;
    padding: 0px;
}
header {
    background-color: black;
    height: 250px;
    width: 100%;

}
header > h1 {
    font-family: 'Merienda One', cursive;
    color: white;
    margin: 0px;
    text-align: center;
    padding: 20px 15px 10px 20px;
    font-size: 4em;
}

header > p {
    color: white;
    text-align: center;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

main {

}

.branco {
    width: 100%;
    height: 250px;
    background-color: white;
    font-family: 'Fuzzy Bubbles', cursive;
    position: relative;
    
}

#teste {

    width: 350px;
    height: 750px;
    font-size: 2.5em;
    padding: 150px 250px 70px;
    margin: 0px;
    
} 

#teste2 {

    width: 350px;
    height: 750px;
    font-size: 2em;
    padding: 60px 250px 110px;
    margin: 0px;
    
} 

#teste3 {

    width: 350px;
    height: 700px;
    font-size: 1.5em;
    padding: 150px 250px 20px;
    margin: 0px;
    
} 

#teste3 > p {
    margin: 0px;
}

article#flor {
    background-image: url('imagens/background001.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

article#flor > p {
    height: 400px;
    width: 305px;
    background-color: rgba(119, 136, 153, 0.562);
    color: white;
    font-size: 2em;
    position: absolute;
    font-family: 'Fuzzy Bubbles', cursive;
    text-align: left;
    
    top: 50%;
    left: 10%;

    transform: translate(-50%, -50%);
}

article#livro {
    background-image: url('imagens/background002.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

article#livro > p {
    height: 400px;
    width: 325px;
    background-color: rgba(119, 136, 153, 0.562);
    color: white;
    font-size: 2em;
    position: absolute;
    font-family: 'Fuzzy Bubbles', cursive;

    
    top: 50%;
    left: 10%;

    transform: translate(-50%, -50%);
}

footer {
    background-color: black;
    color: white;
    font-family: 'Merienda One', cursive;
    margin: 0px;
    text-align: center;
}

footer > p {
    margin: 0px;
}