@charset 'UTF-8';

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px
}
h1 {
    text-align: center;
    background-color: green;
    color: white;
    margin-bottom: 10px;
    padding: 20px;
}
table {
    width: 400px;
    border-collapse: collapse;
    position: absolute;
    
}

#teste {
    width: 90px;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: green;
}

th {
    background-color: green;
    color: white;
    
}
td, th {
    border: 1px solid black;
    padding: 10px;
}

.num {
    text-align: right;
    
}

tbody > tr:nth-child(even) { /* No lugar de even pode utilizar 2n-1 */
    background-color: lightgray;
}

tbody > tr:nth-child(odd) { /* No lugar de odd pode usar 2n */
    background-color: lightblue;
}