@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #5FB9D4;
    width: 100vw;
    height: 100vh;
    position: relative;
}

section {
    position: absolute;
    width: 60vw;
    height: 65vh;
    background-color: blue;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}