@charset "UTF-8";

body {
    font: normal normal 1em Arial, Verdana, sans-serif; 
    background-color: slategrey;
}

h1 {
    color:darkblue
}

h2 {
    color: blueviolet;
}

p {
    color:brown;
    text-align: justify;
}

#principal {
    text-align: center;
    color:chartreuse
}

#sub {
    text-align: center;
    color:darkgoldenrod
}

#parag {
    text-align: center;
    color:black
}