body {
    font-family: Arial, Helvetica, sans-serif; /* NESSE FORMATO ELE VAI ESCOLHER A FONTE IDEAL SANS SERIF PARA CADA NAVEGADOR, COMEÇANDO PELA ARIAL, AI CASO O NAVEGADOR NÃO ACEITE A ARIAL ELE VAI USAR A HELVETICA, CASO O NAVEGADOR NAO ACEITE A HELVETICA ELE VAI PRA OUTRA SANSERIF */
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}