@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('imagens/fundo-madeira.jpg') center center / cover no-repeat fixed
    
}

#celular {
    position: absolute;
    height: 629px;
    width: 311px;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#thome {
    position: relative;
    top: 80px;
    left: 22.5px;
    height: 472px;
    width: 266px;
    
}

#icone img {
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    margin-top: 30px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px black;
}

#icone img:hover {
    border: 2px solid rgba(255, 255, 255, 0.719);
    transform: translate(-150px -15px);
    box-shadow: 5px 7px 7px black;
    transition: transform 1s, border 0.05s;
}

