@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('imagens/fundo-madeira.jpg') center center / cover no-repeat fixed
    
}

#celular {
    position: absolute;
    height: 629px;
    width: 311px;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#thome {
    position: relative;
    top: 80px;
    left: 22.5px;
    height: 472px;
    width: 266px;
    
}